.container {
  padding: 0;
  font-family: "Roboto", sans-serif;
  max-width: 1200px;
}

body {
  margin: 0;
  padding: 0;
}

.sect-space {
  padding: 30px 0;
}

.lead-small-text {
  font-size: 80%;
  text-align: center;
  color: #5FD080;
  font-weight: 700;
}

.lead-large-text {
  font-size: 250%;
  text-align: center;
  color: #4e4f53;
  font-weight: 900;
  margin-bottom: 50px;
}

/*=============================================
    =                   company detail                   =
    =============================================*/
.main-wrapper .company-detail-wrapper .rating-star-wrapper .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .company-detail-wrapper .rating-star-wrapper .bi-star-fill {
  color: #EE9116;
  font-size: 20px;
}

.main-wrapper .company-detail-wrapper .rating-star-wrapper span {
  padding: 5px 10px;
  background-color: #5FD080;
  color: white;
  border-radius: 5px;
  margin: 0 0 0 10px;
}

.main-wrapper .company-detail-wrapper a {
  text-decoration: none;
  font-size: 13px;
  margin-left: 10px;
}

.main-wrapper .col-md-6 .btn {
  color: #4e4f53;
  border: 1px solid #4e4f53;
  background-color: white;
  border-radius: 25px;
}

.main-wrapper .contact-content-wrapper {
  padding: 20px 0;
}

.main-wrapper .contact-content-wrapper h4 {
  margin-bottom: 15px;
}

.main-wrapper .contact-content-wrapper .contact-item p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 15px;
  color: #4e4f53;
}

.main-wrapper .contact-content-wrapper .contact-item h5 {
  font-size: 18px;
  width: 500px;
  margin-bottom: 15px;
}

.main-wrapper .contact-content-wrapper .contact-item a {
  text-decoration: none;
}

.main-wrapper .contact-content-wrapper .contact-item .social-link-wrapper a {
  color: unset;
}

.main-wrapper .contact-content-wrapper .contact-item .social-link-wrapper i {
  font-size: 35px;
  margin-right: 5px;
}

.main-wrapper .contact-content-wrapper .contact-item .opening-hours .opening-item {
  margin-bottom: 10px;
}

.main-wrapper .contact-content-wrapper .contact-item .opening-hours .opening-item span {
  margin-right: 100px;
}

.main-wrapper .map-wrapper h4 {
  margin: 15px 0;
}

.main-wrapper .map-wrapper p {
  font-size: 15px;
  color: #4e4f53;
}

.main-wrapper .photo-wrapper .col-6 {
  padding: 15px 15px;
}

.main-wrapper .camra-icon a {
  text-align: right;
  text-decoration: none;
  font-size: 12px;
  display: block;
}

.main-wrapper .camra-icon a i {
  font-size: 20px;
}

.main-wrapper .reviews-wrapper .rating-star-wrapper a {
  text-decoration: none;
}

.main-wrapper .reviews-wrapper .rating-star-wrapper .bi-star-fill {
  color: #EE9116;
  font-size: 20px;
}

.main-wrapper .reviews-wrapper .review-btn {
  margin-top: 20px;
}

.main-wrapper .reviews-wrapper .review-btn span {
  width: 80px;
  padding: 8px 25px;
  background-color: #5FD080;
  color: white;
  border-radius: 5px;
  margin: 0 30PX 0 0px;
  font-size: 18PX;
}

.main-wrapper .reviews-wrapper .review-btn .btn-lg {
  background-color: #4e4f53;
  padding: 10px 45px;
  color: WHITE;
  font-size: 12PX;
}

.main-wrapper .review-item {
  padding: 20px;
  border: #c2c2c2;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid #a7a7a7;
}

.main-wrapper .review-item .user-review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .review-item .user-review .user-icon i {
  font-size: 40px;
}

.main-wrapper .review-item .user-review .review-detail {
  padding: 0 20px;
}

.main-wrapper .review-item .user-review .review-detail h5 {
  font-size: 20px;
  margin-bottom: 2px;
}

.main-wrapper .review-item .btn {
  color: #4e4f53;
  border: 1px solid #4e4f53;
  padding: 5px 20px;
  margin-left: 40px;
  border-radius: 25px;
}

.main-wrapper .review-item .rating-star-wrapper .bi-star-fill {
  color: #EE9116;
  font-size: 20px;
}

.main-wrapper .review-item .rating-star-wrapper span {
  padding: 5px 10px;
  background-color: #5FD080;
  color: white;
  border-radius: 5px;
  margin: 0 0 0 10px;
}

/*============  End of company detail  =============*/
@media (min-width: 320px) and (max-width: 580px) {
  .container {
    max-width: 310px;
  }
  .main-wrapper .contact-content-wrapper .contact-item h5 {
    width: 300px;
  }
  .main-wrapper .col-md-6 .btn {
    margin-top: 10px;
  }
  .main-wrapper .contact-content-wrapper .contact-item h5 {
    width: 300px;
    font-size: 16px;
  }
  .nav-tabs .nav-link {
    padding: 5px 10px;
  }
}

@media (min-width: 576px) and (max-width: 809px) {
  .container {
    max-width: 500px;
  }
  .main-wrapper .contact-content-wrapper .contact-item h5 {
    width: 300px;
    font-size: 16px;
  }
  .main-wrapper .company-detail-wrapper .rating-star-wrapper span {
    margin-right: 70px;
  }
  .main-wrapper .col-md-6 .btn {
    margin-top: 10px;
  }
}

@media (min-width: 764px) and (max-width: 992px) {
  .main-wrapper .col-md-6 .btn {
    margin-top: 5px;
  }
  .container {
    max-width: 500px;
  }
  .main-wrapper .contact-content-wrapper .contact-item h5 {
    width: 300px;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1130px) {
  .container {
    max-width: 600px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 900px;
  }
  .main-wrapper .col-md-6 .btn {
    margin-bottom: 10px;
  }
  .main-wrapper .company-detail-wrapper .rating-star-wrapper span {
    margin-right: 50px;
  }
  .main-wrapper .contact-content-wrapper .contact-item h5 {
    width: 300px;
    font-size: 16px;
  }
}

@media (min-width: 1199px) and (max-width: 1240px) {
  .container {
    max-width: 1000px;
  }
  .main-wrapper .company-detail-wrapper .rating-star-wrapper span {
    margin-right: 40px;
  }
}
/*# sourceMappingURL=theme.css.map */